:root {
  --text-font: "Poppins", sans-serif;
}

img:hover {
  opacity: 0.9;
  transition: ease-in 100ms;
}

.girl-img:hover{
  opacity: 1;
}
.heading,
.content-2,
.content-3,
.content-4,
.content-6,
footer {
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.heading {
  background-image: url("./src/Group\ 98.png");
  aspect-ratio: 1.77;
}

.container-fluid {
  margin: 0;
  position: relative;
  height: 100%;
}

.upper-text {
  color: white;
  margin-top: 259px;
  padding: 40px;
}

.title-h2 {
  font-size: 60px;
  margin-bottom: 26px;
  -webkit-text-stroke: 1px #3fc4e0;
  font-family: var(--text-font);
  font-weight: 600;
}

.title-h1 {
  font-size: 100px;
  margin-bottom: 26px;
  font-family: var(--text-font);
  font-weight: 600;
}

.title-p {
  font-size: 40px;
  margin-bottom: 26px;
  font-family: var(--text-font);
  font-weight: 400;
}

.navbar-custom {
  background-color: rgba(63, 196, 224, 0.3);
  height: 90px;
}

.nav-item {
  font-size: 30px;
  font-family: var(--text-font);
  font-weight: 600;
  margin: 33px;
}
.nav-pills .nav-link.active {
  background-color: #ffff;
}

.nav-link:active{
  background-color: white;
}

.content-2 {
  background-image: url("./src/Group\ 99.png");
}
.content-3 {
  background-image: url("./src/Group\ 100.png");
}

.content-4 {
  background-image: url("./src/Group\ 103.png");
}
.content-6 {
  background-image: url("./src/Group\ 106.png");
}

footer {
  background-image: url("./src/Group\ 95.png");
}

.disease-images,
.video,
.technology,
.images-2 {
  padding-bottom: 90px;
  display: block;
  margin: 0 auto;
  width: 80%;
}


.technology {
  width: 50%;
}
.video {
  width: 70%;
}
